**/node_modules
**/dist
**/.git
**/.gitignore
**/.env
**/.env.*
!**/.env.example
**/*.log
**/.DS_Store
**/.vscode
**/.idea
**/coverage
**/.cache
**/tsconfig.tsbuildinfo

.github
docs
*.md
!todo-backend/README.md
!todo-frontend/README.md
docker-compose*.yml
Dockerfile
.dockerignore
